= render "usergifts_tabs"
.btn-toolbar.margin-bottom#model-bar{:data => {:code => "Usergift"}}
  .btn-group
    = link_to '<i class="icon-plus icon-white"></i> Новая заявка' .html_safe, new_desc_usergift_path, :class => "btn btn-success"
  .btn-group
    %button.btn.disabled Выделенные:
    -#%button.btn#activate-selected
      %i.icon-ok
      Активировать
    -#%button.btn#deactivate-selected
      %i.icon-remove
      Деактивировать
    %button.btn.btn-danger#remove-selected
      %i.icon-minus.icon-white
      Удалить
.clear
%br

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th
        .btn-group
          .btn#button-select-all
            %i.icon-check
          .btn.btn-small.dropdown-toggle{:data => {:toggle => "dropdown"}}
            /%input{:type => "checkbox"}
            %span.caret
          %ul.dropdown-menu
            %li
              %a#select-all{:href => "javascript:;"} Выделить все
            %li
              %a#select-none{:href => "javascript:;"} Снять выделения
            %li
              %a#select-rnd{:href => "javascript:;"} Выделить случайно
            %li
              %a#select-inv{:href => "javascript:;"} Инвертировать выделение
      %th
        .btn.disabled
          Меню
      %th
        %a.btn{:href => params[:d] == "desc" ? "?f=id&d=asc" : "?f=id&d=desc"}
          ID
          - if params[:f] == "id" || !params[:f]
            - if params[:d] == "desc"
              %i.icon-chevron-up
            - else
              %i.icon-chevron-down
      %th
        .btn.disabled
          Фото
      -#%th
        %a.btn{:href => params[:d] == "desc" ? "?f=active&d=asc" : "?f=active&d=desc"}
          Активность
          - if params[:f] == "active"
            - if params[:d] == "desc"
              %i.icon-chevron-up
            - else
              %i.icon-chevron-down
      %th
        %a.btn{:href => params[:d] == "desc" ? "?f=gift_id&d=asc" : "?f=gift_id&d=desc"}
          Подарок
          - if params[:f] == "gift_id"
            - if params[:d] == "desc"
              %i.icon-chevron-up
            - else
              %i.icon-chevron-down
      %th
        %a.btn{:href => params[:d] == "desc" ? "?f=description&d=asc" : "?f=description&d=desc"}
          Описание
          - if params[:f] == "description"
            - if params[:d] == "desc"
              %i.icon-chevron-up
            - else
              %i.icon-chevron-down
      %th
        %a.btn{:href => params[:d] == "desc" ? "?f=gift_status_id&d=asc" : "?f=gift_status_id&d=desc"}
          Статус
          - if params[:f] == "gift_status_id"
            - if params[:d] == "desc"
              %i.icon-chevron-up
            - else
              %i.icon-chevron-down
      %th
        %a.btn{:href => params[:d] == "desc" ? "?f=user_id&d=asc" : "?f=user_id&d=desc"}
          Пользователь
          - if params[:f] == "user_id"
            - if params[:d] == "desc"
              %i.icon-chevron-up
            - else
              %i.icon-chevron-down
      %th
        %a.btn{:href => params[:d] == "desc" ? "?f=created_at&d=asc" : "?f=created_at&d=desc"}
          Дата заказа
          - if params[:f] == "created_at"
            - if params[:d] == "desc"
              %i.icon-chevron-up
            - else
              %i.icon-chevron-down
      %th
        %a.btn{:href => params[:d] == "desc" ? "?f=updated_at&d=asc" : "?f=updated_at&d=desc"}
          Дата обновления
          - if params[:f] == "updated_at"
            - if params[:d] == "desc"
              %i.icon-chevron-up
            - else
              %i.icon-chevron-down

  %tbody
  - @usergifts.each do |s|
    %tr
      %td
        %input.select-box{:type => "checkbox", :data => {:id => s.id}}
      %td.small
        .btn-group
          %button.btn.btn-small.dropdown-toggle{:data => {:toggle => "dropdown"}}
            %i.icon-list
            %span.caret
          %ul.dropdown-menu
            %li= link_to '<i class="icon-pencil"></i> Редактировать'.html_safe, edit_desc_usergift_path(s)
            %li= link_to '<i class="icon-remove"></i> Удалить'.html_safe, desc_usergift_path(s), :confirm => 'Вы уверены?', :method => :delete
      %td= s.id
      %td
        %img{:src => s.gift.photo(:mini)}
      %td= s.gift ? s.gift.name : ""
      %td= s.description
      %td= s.gift_status ? s.gift_status.name : ""
      %td= s.user ? link_to(s.user.first_name ? s.user.first_name.to_s + " (" + s.user.phone.to_s + ")" : s.user.phone, edit_desc_user_path(s.user.id)) : ""
      %td= s.created_at.localtime().strftime('%D %H:%M:%S')
      %td= s.updated_at.localtime().strftime('%D %H:%M:%S')

