.btn-toolbar.margin-bottom#model-bar{:data => {:code => "Place"}}
  .btn-group
    = link_to '<i class="icon-plus icon-white"></i> Новое заведение'.html_safe, new_desc_partner_place_path(params[:partner_id]), :class => "btn btn-success"
  .btn-group
    %button.btn.disabled Выделенные:
    %button.btn#activate-selected
      %i.icon-ok
      Активировать
    %button.btn#deactivate-selected
      %i.icon-remove
      Деактивировать
    %button.btn.btn-danger#remove-selected
      %i.icon-minus.icon-white
      Удалить
.clear
%br

%table.table.table-bordered.table-striped.name-width
  %thead
    %tr
      %th
        .btn-group
          .btn.btn-small#button-select-all
            %i.icon-check
          .btn.btn-small.dropdown-toggle{:data => {:toggle => "dropdown"}}
            /%input{:type => "checkbox"}
            %span.caret
          %ul.dropdown-menu
            %li
              %a#select-all{:href => "javascript:;"} Выделить все
            %li
              %a#select-none{:href => "javascript:;"} Снять выделения
            %li
              %a#select-rnd{:href => "javascript:;"} Выделить случайно
            %li
              %a#select-inv{:href => "javascript:;"} Инвертировать выделение
      %th
        .btn.btn-small.disabled Меню
      %th
        .btn.btn-small.disabled Лого
      %th
        %a.btn.btn-small{:href => params[:d] == "desc" ? to_path(params.merge({:f => "id", :d => "asc"})) : to_path(params.merge({:f => "id", :d => "desc"}))}
          ID
          - if params[:f] == "id" || !params[:f]
            - if params[:d] == "desc"
              %i.icon-chevron-up
            - else
              %i.icon-chevron-down
      %th
        %a.btn.btn-small{:href => params[:d] == "desc" ? to_path(params.merge({:f => "name", :d => "asc"})) : to_path(params.merge({:f => "name", :d => "desc"}))}
          Название
          - if params[:f] == "name"
            - if params[:d] == "desc"
              %i.icon-chevron-up
            - else
              %i.icon-chevron-down
      %th
        %a.btn.btn-small{:href => params[:d] == "desc" ? to_path(params.merge({:f => "active", :d => "asc"})) : to_path(params.merge({:f => "active", :d => "desc"}))}
          Активность
          - if params[:f] == "active"
            - if params[:d] == "desc"
              %i.icon-chevron-up
            - else
              %i.icon-chevron-down
      %th
        %a.btn.btn-small{:href => params[:d] == "desc" ? to_path(params.merge({:f => "city_id", :d => "asc"})) : to_path(params.merge({:f => "city_id", :d => "desc"}))}
          Город
          - if params[:f] == "city_id"
            - if params[:d] == "desc"
              %i.icon-chevron-up
            - else
              %i.icon-chevron-down
      -#%th
        %a.btn.btn-small{:href => params[:d] == "desc" ? to_path(params.merge({:f => "delivery_price", :d => "asc"})) : to_path(params.merge({:f => "delivery_price", :d => "desc"}))}
          Стоимость дост.
          - if params[:f] == "delivery_price"
            - if params[:d] == "desc"
              %i.icon-chevron-up
            - else
              %i.icon-chevron-down
      -#%th
        %a.btn.btn-small{:href => params[:d] == "desc" ? to_path(params.merge({:f => "delivery_time", :d => "asc"})) : to_path(params.merge({:f => "delivery_time", :d => "desc"}))}
          Время дост.
          - if params[:f] == "delivery_time"
            - if params[:d] == "desc"
              %i.icon-chevron-up
            - else
              %i.icon-chevron-down
      %th
        %a.btn.btn-small{:href => params[:d] == "desc" ? to_path(params.merge({:f => "min_order", :d => "asc"})) : to_path(params.merge({:f => "min_order", :d => "desc"}))}
          Мин. заказ
          - if params[:f] == "min_order"
            - if params[:d] == "desc"
              %i.icon-chevron-up
            - else
              %i.icon-chevron-down
      %th
        %a.btn.btn-small{:href => params[:d] == "desc" ? to_path(params.merge({:f => "rating", :d => "asc"})) : to_path(params.merge({:f => "rating", :d => "desc"}))}
          Рейтинг
          - if params[:f] == "rating"
            - if params[:d] == "desc"
              %i.icon-chevron-up
            - else
              %i.icon-chevron-down
  %tbody
  - @places.each do |place|
    %tr
      %td.small
        %input.select-box{:type => "checkbox", :data => {:id => place.id}}
      %td.small
        .btn-group
          %a.btn{:href => desc_partner_place_sections_path(params[:partner_id], place.id)} Меню
          %button.btn.btn-small.dropdown-toggle{:data => {:toggle => "dropdown"}}
            %i.icon-list
            %span.caret
          %ul.dropdown-menu
            %li= link_to '<i class="icon-signal"></i> Меню'.html_safe, desc_partner_place_sections_path(params[:partner_id], place.id)
            %li= link_to '<i class="icon-user"></i> Пользователи'.html_safe, desc_users_path + "?place=" + place.id.to_s
            %li.divider
            %li= link_to '<i class="icon-pencil"></i> Редактировать'.html_safe, edit_desc_partner_place_path(params[:partner_id], place.id)
            %li= link_to '<i class="icon-remove"></i> Удалить'.html_safe, desc_partner_place_path(params[:partner_id], place.id), :confirm => 'Вы уверены?', :method => :delete
      %td
        %img{:src => place.picture(:mini)}
      %td= place.id
      %td= place.name
      %td= place.active==1 ? '<span style="color:green;">Да</span>'.html_safe : '<span style="color:red;">Нет</span>'.html_safe
      %td= place.city ? link_to(place.city.name.to_s + " (" + place.city.id.to_s + ")", edit_desc_city_path(place.city)) : ""
      /%td= place.delivery_price
      /%td= place.delivery_time
      %td= place.min_order
      %td= place.rating