.btn-toolbar#model-bar{:data => {:code => "Special"}}
  .btn-group
    = link_to '<i class="icon-plus icon-white"></i> Новая акция' .html_safe, new_partner_place_special_path(params[:place_id]), :class => "btn btn-success"
  .btn-group
    %button.btn.disabled Выделенные:
    %button.btn#activate-selected
      %i.icon-ok
      Активировать
    %button.btn#deactivate-selected
      %i.icon-remove
      Деактивировать
    %button.btn.btn-danger#remove-selected
      %i.icon-minus.icon-white
      Удалить
.clear
%br
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th{:style=>'width:30px'}
        .btn-group
          .btn#button-select-all
            %i.icon-check
          .btn.btn-small.dropdown-toggle{:data => {:toggle => "dropdown"}}
            /%input{:type => "checkbox"}
            %span.caret
          %ul.dropdown-menu
            %li
              %a#select-all{:href => "javascript:;"} Выделить все
            %li
              %a#select-none{:href => "javascript:;"} Снять выделения
            %li
              %a#select-rnd{:href => "javascript:;"} Выделить случайно
            %li
              %a#select-inv{:href => "javascript:;"} Инвертировать выделение
      %th{:style=>'width:50px'}
      -#%th ID
      %th{:style=>'width:140px'} Фото
      %th На сайте
      %th Название
      %th Описание
      %th{:style=>'width:60px'} Новая цена
      %th{:style=>'width:60px'} Cтарая цена
      %th Создана
      %th Изменена
      

  %tbody
  - @specials.each do |s|
    %tr
      %td
        %input.select-box{:type => "checkbox", :data => {:id => s.id}}
      %td.small
        .btn-group
          %button.btn.btn-small.dropdown-toggle{:data => {:toggle => "dropdown"}}
            %i.icon-list
            %span.caret
          %ul.dropdown-menu
            %li= link_to '<i class="icon-pencil"></i> Редактировать'.html_safe, edit_partner_place_special_path(params[:place_id],s.id)
            %li= link_to '<i class="icon-remove"></i> Удалить'.html_safe, partner_place_special_path(params[:place_id], s.id), :confirm => 'Действительно удалить?', :method => :delete
      -#%td= s.id
      %td
        %img{:src => s.picture? ? s.picture(:small) : s.item.photo(:small)}
      %td= s.active==1 ? '<span style="color:green;">Да</span>'.html_safe : '<span style="color:red;">Нет</span>'.html_safe
      %td= s.name
      %td= s.description
      %td= s.item.price.ceil.to_s+' руб.'
      %td= s.old_price.ceil.to_s+' руб.'
      /%td= s.item.sort
      %td
        =(s.created_at).localtime().strftime("%Y-%m-%d %H:%M")
      %td
        =(s.updated_at).localtime().strftime("%Y-%m-%d %H:%M")
      